
docker login -u="redhat+quay" -p="{{ lookup('env', 'QUAY_IMAGE_AUTH')}}" quay.io

{% if inventory_hostname == 'quay01' %}
if [[ $(docker ps |grep quay|wc -l)>0 ]]
then
for i in $(docker ps -a|grep quay|awk '{print $1}')
do
  echo "terminate docker ${i}"
  docker rm $i -f
done

fi
{% endif %}


docker run --name=quay --restart=always -p 443:8443 -p 80:8080 \
   --sysctl net.core.somaxconn=4096 \
   --privileged=true \
   -v /mnt/quay/config:/conf/stack:Z \
   -v /mnt/quay/storage:/datastorage:Z \
   -d quay.io/redhat/quay:v3.3.0
